<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="DynamicContent">
          <match url="/*" />
          <action type="Rewrite" url="app.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode 
      nodeProcessCommandLine="C:\Program Files\nodejs\node.exe"
      watchedFiles="*.js;web.config;iisnode.yml"
      loggingEnabled="true"
      debuggingEnabled="true" />
  </system.webServer>
</configuration>